[Unit]
Description=TiltPySpindle
Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=python /home/pi/TiltPySpindel/tilt.py
User=root
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
